@import "header";
@import "footer";
@import "../helpers/yama-padding";
body {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
*::selection {
  background-color: var(--first);
  color: white;
}
:root {
  --first: #c4012f;
}
body {
  font-family: NissanFont !important;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
}
footer {
  overflow-x: hidden;
  width: 100vw;
  max-width: 100vw;
}
a {
  color: unset;
  text-decoration: none !important;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}

::-webkit-scrollbar-thumb {
  background-color: var(--first);
  border-radius: 12px;
}

::-webkit-scrollbar {
  width: 5px;
}
a {
  transition: 0.2s color;
}
a:hover {
  color: var(--first);
}
.banner {
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-size: 5rem;
  font-weight: 100;
  text-align: center;
  position: relative;
  @media (max-width: 700px) {
    font-size: 9vw;
  }
  .mask {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent
      linear-gradient(0deg, #00000000 -13%, rgb(0, 0, 0) 106%) 0% 0% no-repeat
      padding-box;
  }
}

.yama_menu {
  position: fixed;
  z-index: 110;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: #c4012f;
  transition: 0.4s;
  overflow: auto;
  .flex_r {
    justify-content: flex-end;
  }

  .flex_box {
    width: 100%;
    display: flex;
    position: relative;
    .cross {
      color: white;
      padding: 36px 6px 224px 6px;
      width: 32px;
      height: 32px;
      cursor: pointer;
      @media (max-width: 768px) {
        padding: 24px 6px 42px 6px;
      }

      @media (max-width: 1280px) {
        padding: 24px 6px 76px 6px;
      }
      @media (max-width: 1620px) {
        padding: 36px 6px 100px 6px;
      }
      .smooth {
        transition: 0.3s;
        &:hover {
          transform: rotate(360deg);
        }
      }
    }
    .menu_logo {
      position: relative;
      max-width: 744px;
      width: 50%;
      height: 564px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 5vw;
      opacity: 0.3;
      filter: brightness(2.6);
      @media (max-width: 1280px) {
        position: absolute;
        z-index: -1;
        width: 100%;
      }
      @media (max-width: 1620px) {
        width: 35%;
        margin-right: 1vw;
      }
    }

    .menu_box {
      max-width: 695px;
      text-align: right;
      a {
        color: white !important;
        transition: 0.2s color;
      }
      h1 {
        font-size: 76px;
        font-weight: 400;
        text-decoration: none;
        cursor: pointer;
        @media (max-width: 768px) {
          font-size: 42px !important;
        }

        @media (max-width: 1280px) {
          font-size: 64px;
        }
      }
    }
  }
}
.yama_menu {
  height: 100vh !important;
  top: 0;
  padding-right: 3rem;
  @media (max-width: 450px) {
    padding-right: 1rem;
  }
  .menu_box {
    h1 {
      margin-top: 0;
      margin-bottom: 0.3rem;
    }
  }
  .cross {
    height: unset !important;
    padding-bottom: 7rem !important;
  }
}
header {
  .yama_padding {
    @include yama-padding;
  }

  nav {
    padding-top: 0 !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    & > a,
    .logo_box {
      @include yama-padding;
    }
    .logo_box {
      width: unset;
      .yama_logo {
        padding-right: 1.5rem;
      }
      .hamburger {
        margin-left: 0;
      }
    }
  }
}

.alert-message-success {
  color: green
} 
.alert-message-danger {
  color: red
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

footer {
  @include yama-padding;
}

